In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.linalg import svd

In [8]:
df = pd.read_csv('../data/diamond.csv')

df.head(5)

    cut color clarity  carat  depth  table  price     x     z     y
0  Fair     E     VS2   0.22   65.1   61.0    337  3.87  2.49  3.78
1  Fair     E     SI2   0.86   55.1   69.0   2757  6.45  3.52  6.33
2  Fair     F     SI2   0.96   66.3   62.0   2759  6.27  4.07  5.95
3  Fair     F     VS2   0.70   64.5   57.0   2762  5.57  3.58  5.53
4  Fair     F     VS2   0.70   65.3   55.0   2762  5.63  3.66  5.58